@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Source+Sans+Pro:wght@600&display=swap");

html {
    background: #1d1f20;
    margin: 0 4rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    margin-top: 20%;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}